<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>appTest</title>
</head>
<body>
  <h1>以下为数据</h1><br>
  {{fileno}}<br>
  {{data}}
</body>
</html>